<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Add border to a div with class "border-example" */
    .border-example {
      border: 200px solid #000; /* 2px solid black border */
      padding: 50px; /* Optional: Add padding to the content inside the border */
      margin:50px;
    }
  </style>
  <title>Border Example</title>
</head>
<body>
   <h1> About us</h1>
  <!-- Your content with the border -->
  <div class="border-example">
    Online movie ticket booking offers convenience,
     allowing users to browse showtimes, 
     select preferred seats, and make purchases from 
     the comfort of their homes. It also provides 
     real-time updates on seat availability, reduces 
     the need for physical queuing, and often offers discounts 
     and promotional deals. Additionally, digital tickets can be
      easily accessed on mobile devices, eliminating the need for 
      paper tickets.
  </div>

</body>
</html>